html {
    font-size: 24px;
}

body {
    margin: 0;
    background-color: #e9f3ee;
}

.newspaper {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 60px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.center {
    text-align: center;
}

.name {
    font-size: 2rem;
    font-family: "Times New Roman", serif;
}

.name,
.author {
    text-transform: uppercase;
}

.headline {
    font-size: 2em;
    font-weight: bold;
}

.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
}

.author {
    font-weight: bold;
}

.text {
    text-indent: 20px;
    line-height: 2em;
}

.text::first-letter {
    font-size: 2em;
    font-weight: bold;
}


