body {
    background-color: beige;
}

.blog-post-card {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.post-img {
    width: 500px;
    border-bottom: 2px solid black;
}

.post-content {
    padding: 10px;
}

.post-title, .post-excerpt {
    color: black;
    margin: 15px;
}

.read-more {
    text-decoration: none;
    display: inline-block;
    color: black;
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.read-more:hover {
    background-color: darkgray;
}