.pricing-container {
    display: flex;
    flex-wrap: wrap;
}

.pricing-card {
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}

.basic-plan {
    order: 0;
}

.pro-plan {
    order: 1;
    flex-grow: 2;
}

.premium-plan {
    order: 2;
}