body {
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
}


.feature-card {
    border-width: 3px;
    color: rgb(34, 27, 95);
    font-style: normal;
    max-width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(66, 29, 141, 0.2);
    text-align: middle;
}

label {
  display: block;
  cursor: pointer;
  margin: 30px auto;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: whitesmoke;
    transition: all 0.3s;
    vertical-align: middle;
    margin-right: 15px;
}

input[type="checkbox"]:checked {
  background-color: #f1be32;
  border-color: #e2a60d;
}

input[type="checkbox"]:checked::after {
  content: "✓";
  display: block;
  text-align: center;
}