body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #e9f3ee;  
}

#main {
    width: 900px;
    margin: 0 auto;
    background: rgb(225, 220, 220);
    padding: 60px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.center {
    text-align: center;
}

#img-div {
    margin: 0 auto;
    background: white;
    padding: 60px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
}

#title {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
}

.bold {
    font-weight: 700;
}

li {
    margin: 0;
    padding-bottom: 15px
}

#tribute-info {
    max-width: 80%;
    margin: 0 auto;
}

.link {
    text-align: center;   
    font-size: 20px; 
}

