body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    min-height: calc(100% - 100px)
}

hr, section {
    width: 110%;
}

section {
    display: inline-block;
    width: 32%;
}

hr {
    margin: 30px 0px;
}

header, main, footer {
    text-align: center;
}