#house {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #e0c097;
  border: 4px solid #5a3e2b;
  margin: 50px auto;
}

/* All immediate children */
#house > div {
  position: absolute;
}

/* Roof */
#roof {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #8b0000;
  border: 3px solid #4b0000;
  z-index: 1;
}

/* Chimney */
#chimney {
  top: 0;
  left: 50px;
  width: 50px;
  height: 120px;
  background-color: #555;
  border: 3px solid #333;
  z-index: -1;
}

/* Windows */
#window-1,
#window-2 {
  top: 130px; /* below roof */
  width: 80px;
  height: 80px;
  background-color: #add8e6;
  border: 3px solid #333;
}

#window-1 {
  left: 80px;
}

#window-2 {
  right: 80px;
}

/* Door */
#door {
  bottom: 0;
  left: 210px;
  width: 80px;
  height: 120px;
  background-color: #654321;
  border: 3px solid #3b2415;
}
